<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Worklog - Admin Dashboard</title>
</head>
<style>
    body {
        margin: 0;
        background-color: #eee;
    }

    .feedback.error {
        color: red;
    }

    .feedback.success {
        color: green;
    }

    .header {
        width: 100%;
        text-align: center;
    }

    .header .title {
        font-size: 48px;
        margin: 24px auto 16px;
        font-weight: 800;
    }

    nav ul {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 0;
    }

    nav ul li {
        list-style: none;
        padding: none;
        font-size: 16px;
        margin: 12px 22px;
    }

    nav ul li a {
        text-decoration: none;
        color: #000;
    }

    nav ul li a:hover {
        color: seagreen;
    }

    .main {
        width: 600px;
        margin: auto;
        margin-top: 40px;
    }

    .main>.title {
        font-size: 28px;
        margin: 24px auto 16px;
        font-weight: 700;
    }

    .main>.title.small {
        font-size: 20px;
    }

    .input-element {
        margin-bottom: 16px;
    }

    .search-form-wrapper form {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .input-element input[type=text],
    .input-element input[type=date],
    .input-element select {
        border: 1px solid rgb(231, 231, 231);
        width: 160px;
        font-size: 14px;
        box-sizing: border-box;
        padding: 8px;
        margin-right: 12px;
    }

    button[type=submit] {
        background-color: #111;
        border: 0;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        padding: 6px 8px;
    }

    .logs {
        padding: 0 20px;
    }

    .log {
        margin-top: 16px;
        padding: 16px;
        border: 1px solid rgb(224, 224, 224);
        border-radius: 4px;
    }

    .log .title {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
        padding: 0;
    }

    img.icon {
        width: 18px;
        margin-right: 10px;
    }

    .date {
        margin: 8px 0px;
        display: flex;
        align-items: center;
    }

    .actions {
        display: flex;
        margin-top: 12px;
    }

    .actions>div {
        display: flex;
        justify-content: center;
        margin-right: 24px;
    }
</style>

<body>
    <div class="header">
        <div class="title">Worklog</div>
        <nav>
            <ul>
                <li><a href="/admin/search/log">Search Logs</a></li>
                <li><a href="/admin/dashboard">Logs</a></li>
                <li><a href="/admin/view/employees">Employees</a></li>
                <li><a href="/admin/auth/logout">Logout</a></li>
            </ul>
        </nav>
    </div>
    <div class="main">
        <div class="action-feedbacks">
            <div class="feedback error">{{errorMessage}}</div>
            <div class="feedback success">{{successMessage}}</div>
        </div>
        <div class="title">
            Search Logs
        </div>
        <div class="search-form-wrapper">
            <form action="/admin/search/log" method="GET">
                <div class="input-element">
                    <label for="title">Log title</label><br>
                    <input type="text" name="title" id="title" placeholder="title">
                </div>
                <div class="input-element">
                    <label for="department">Employee Department</label><br>
                    <select name="department" id="department">
                        <option value="">Select Department</option>
                        {{#each departments}}
                        <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                    <div class="feedback error">{{errors.department}}</div>
                </div>
                <div class="input-element">
                    <label for="department">Created Date</label><br>
                    <input type="date" name="createdDate">
                </div>
                <div class="input-element">
                    <label for="employee">Employee</label><br>
                    <select name="employeeId" id="employeeName">
                        <option value="">Select Employee</option>
                        {{#each employees}}
                        <option value="{{this.id}}">{{this.name}}</option>
                        {{/each}}
                    </select>
                    <div class="feedback error">{{errors.department}}</div>
                </div>
                <button type="submit">Search</button>
            </form>
        </div>
        <div class="title small">
            Results
        </div>
        {{#if logs}}
        <div class="logs">
            {{#each logs}}
            <div class="log">
                <div class="title">{{this.title}}</div>
                <div>
                    <span class="employee-name">{{this.employee.name}}</span> - <span
                        class="employee-department">{{this.employee.department}}</span>
                </div>
                <div class="date">
                    <img class="icon" src="https://cdn-icons-png.flaticon.com/128/3884/3884295.png" alt="clock">
                    <span>{{toLocaleDateString
                        this.createdDate}}</span>
                </div>
                <div class="actions">
                    <div class="detail-action">
                        <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1/1755.png" alt="feedback">
                        <span><a href="/admin/view/log/{{this.id}}">View Detail</a></span>
                    </div>
                    <div class="feedback-action">
                        <img class="icon" src="https://cdn-icons-png.flaticon.com/512/855/855555.png" alt="feedback">
                        <span><a href="/admin/view/log/{{this.id}}">Give Feedback</a></span>
                    </div>
                    <div class="delete-action">
                        <img class="icon" src="https://cdn-icons-png.flaticon.com/512/1214/1214428.png" alt="delete">
                        <span><a href="/admin/delete/log/{{this.id}}">Delete</a></span>
                    </div>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div>No Logs</div>
            {{/if}}
        </div>
    </div>
</body>

</html>